.pastebody {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  overflow: hidden;
  color: red;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.mr-1 {
  margin-left: 10px;
}
.pasteCard {
  margin: 10px;
}
.purple-border textarea {
  border: 1px solid #ba68c8;
  margin: 10px;
  display: flex;
  justify-content: center;
  width: 90%;
}
.purple-border .form-control:focus {
  border: 1px solid #ba68c8;
  box-shadow: 0 0 0 0.2rem rgba(186, 104, 200, 0.25);
}
.form-outline {
  margin: 10px;
  width: 90%;
}
